env
env/
.venv/
.env
__pycache__/
*.py[cod]
node_modules/
dist/
.vite/
storage/
.DS_Store

.env.*
!.env.example

venv/
env/

build/
outputs/
logs/
*.log

.vscode/
.idea/

Thumbs.db

*.db
*.sqlite3

.ipynb_checkpoints/

*.pem
*.key

.pytest_cache/
__pycache__/
*.pyc
